body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  height: 100vh;
  background: rgba(255, 255, 255, 0.95);
}

.title {
  text-align: center;
  font-weight: 700;
  vertical-align: middle;
}

.title a {
  color: #000 !important;
}

.logo {
  height: 1em;
  margin-top: -6px;
}

.infoCol {
  padding: 1em;
  height: 100vh;
  overflow-y: scroll;
}
